.container {
  margin: 20px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container {
  width: 20%;
  margin-bottom: 10px;
}

.border-black {
  border: 2px solid black;
  border-radius: 25px;
  padding: 15px;
  text-align: center;
}

.spacing {
  flex: 1 1 auto;
}
